Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/autoscan.log
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/configure.scan
/coverage.info
/coverage.info.html
/depcomp
/docs/
/Doxyfile
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/lib/libriack.la
/lib/riack/proto/
/lib/riack/platform.h.in
/lib/riack/platform.h
/lib/riack.pc
/tests/check_libriack
/test-driver

*~
*.o
*.lo
.deps/
.libs/
.dirstamp
*.tar.*
*.gcno
*.gcda
*.gcov
*.pc
gmon.out
stamp-h1
